<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>Hero Stuffing Agancy</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="~/vendor.min.css" type="text/css"/>
    <link rel="stylesheet" href="~/style.min.css" type="text/css"/>
    <base href="/"/>
</head>
<ui-view>
    Loading...
</ui-view>
<script type="text/javascript" src="~/vendor.min.js"></script>
<script type="text/javascript" src="~/app.min.js"></script>
</body>
</html>

